@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
  
  background: #bdc3c7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}  



.imagen-fondo { 

  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;

  object-fit: cover;
}

ul.sidenav {
  list-style-type: none;
  margin: 0px;
  padding: 0;
  width: 100%;
  height: auto;
  
  position: relative;
  
  overflow: auto;
}

ul.sidenav li a {
  display: block;
  float: left;
  padding: 0px;
  text-align: center;
  font-family: 'Roboto';
  font-weight: bold;
  text-align: center;
  font-size: 17px;
  color: #525252;
  padding: 8px 16px;
  text-decoration: none;
/* test */
/* Text Shadow */

    text-shadow: 0 1px 0 #1b1b1b;

}


.push {
  float: right;
}

ul.sidenav li a.active {
  background-color: #555969;
  color: white;
}

ul.sidenav li a:hover:not(.active) {
  background-color: #49494948;
  color: white;
}





div.content {
  margin-left: 2%;
  margin-top: 50px;
  padding: 10px 16px;
  height: auto;
  text-align: center;
}

.content2 {
  
  margin-left: 2%;
  margin-top: 50px;
  padding: 10px 16px;
  height: 10vh;
  width: fit-content;
  text-align: center;
  
  
} 






@media screen and (max-width: 900px) {
  ul.sidenav {
    width: 100%;
    height: auto;
    position: relative;
    
    
  }
  
  ul.sidenav li a {
    float: left;
    padding: 15px;
    text-align: center;
    font-size: 15px;
  }
  
  div.content {margin-left: 0;}
}





@media screen and (max-width: 507px) {
  ul.sidenav li a {
    text-align: center;
    float: none;
    font-size: 15px;
  }

.push {
    float: none;
  }


}

h1 {
  font-family: 'Roboto';
  font-size: 22px;
     text-align: center;
     color: #525252;
     text-shadow: 0 1px 0 #1b1b1b;
}

h6 {
  font-family: 'Roboto' !important;
  font-size: 16px !important;
  font-weight: bold;
  color: #525252;
  font-weight: bold;
  text-shadow: 0 1px 0 #1b1b1b;
}

p {
  font-family: 'Roboto';
  font-size: 16px;
  color: #525252;
  font-weight: bold;
  text-shadow: 0 1px 0 #1b1b1b;
}


#slideshow {
  margin: auto;
  position: relative;
  width: 280px;
  height: 280px;
  padding: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

#slideshow > div {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
}